<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.massif.base.mapper.LabelMapper">

    <select id="getLabelList" resultType="com.massif.base.entity.Label">
        select id, labelname as labelName, state, count, recommend, fans from tb_label
        <where>
            <!-- 动态sql中不能使用 && , 只能使用 and -->
            <if test="id != null and id != ''">id = #{id}</if>
            <if test="labelName != null and labelName != ''">and labelname = #{labelName}</if>
        </where>
    </select>
</mapper>